.header.bg-white.border-b.shadow-sm.py-4.mb-6
  .container.mx-auto.flex.flex-grow-1.px-4
    = link_to 'Wheel', root_path, class: 'text-2xl font-semibold hover:text-teal-600'

    = render 'shared/header/nav_links'
