version: 2

orbs:
  cypress: cypress-io/cypress@1.16.1

workflows:
  version: 2

jobs:
  cypress-ci:
    parallelism: 1
    docker:
      - image: "cypress/included:8.5.0"
    working_directory: ~/neetouichallenge
    steps:
      - checkout
      - run:
          name: Execute cypress
          command: |
            cd cypress-tests
            npm install
            npm run cypress:run --START_URL=${START_URL} --RECORD_KEY=${RECORD_KEY}
      - store_artifacts:
          path: cypress-tests/cypress/videos
      - store_artifacts:
          path: cypress-tests/cypress/screenshots
