.nui-react-select__control {
  border: none !important;
  background-color: theme("colors.gray.50") !important;

  &.nui-react-select__control--is-focused {
    box-shadow: none !important;
  }

  .nui-react-select__value-container {
    padding: 0 16px !important;
    font-size: theme("fontSize.xl") !important;
    letter-spacing: theme("letterSpacing.wide");
    min-height: 50px !important;
  }
}
