%span.home-message
  This is home page.

.floating-menu
  %a{:href => "javascript:;"}
    %span.fa.fa-rocket
    %span.item Rocket

.floating-menu-detailed
  %a.close{:href => "javascript:;"}
    %span.fa.fa-times
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis laudantium consequatur commodi deserunt minus hic, debitis a ratione modi, nemo fugit quo distinctio nulla? Ut vel autem modi placeat.
