$neeto-ui-primary-bg-color: #2F3941;
$neeto-ui-primary-text-color: #ffffff;
$neeto-ui-primary-hover-color: #0c0d0e;
$neeto-ui-tag-border-color: #949595;
$neeto-ui-tag-bg-color: #f8f8f8;
$neeto-ui-tag-text-color: #949595;
