h2.text-2xl.font-semibold List of all pages

br/
= link_to "Contact", pages_contact_us_path, class: "text-teal-600 hover:underline"
br/
= link_to "About", pages_about_path, class: "text-teal-600 hover:underline"

