@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "react-toastify/dist/ReactToastify.min.css";

@import "@bigbinary/neetoui/v2";

//Sidebar
@import "./layouts/sidebar";
