@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "react-toastify/dist/ReactToastify.min.css";

@import "variables.scss";
@import "./layouts/sidebar.scss";

.content-main {
  min-height: 100vh !important;
  width: 100%;
  background: #FFF;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 2;
  display: flex;
  flex-flow: column;
}
