.alert {
  margin: 13px 0;
  position: relative;
  position: fixed;
  right: 5px;
  top: 0;
  min-width: 300px;
  max-width: 500px;
  z-index: 999;
  color: $white;

  & > .container {
    position: relative;
    padding-left: 30px;

    &::after {
      position: absolute;
      font: normal normal normal 18px/1 FontAwesome;
      left: 0;
      top: 50%;
      width: 16px;
      height: 16px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .close {
    @include font-size(2rem);

    cursor: pointer;
    position: absolute;
    right: 0;
  }
}

.alert-success {
  background: $c-success;

  & > .container::after {
    content: "\f00c";
  }
}

.alert-danger {
  background: $c-danger;

  & > .container::after {
    content: "\f057";
  }
}

.alert-warning {
  background: $c-warning;

  & > .container::after {
    content: "\f071";
  }
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: none;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}
