html {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Lato",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  color: $c-text;
  background: $c-bg-300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  word-break: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  @include font-size(3.8rem);
}

h2,
.h2 {
  @include font-size(2.8rem);
}

h3,
.h3 {
  @include font-size(1.8rem);
}

h4,
.h4 {
  @include font-size(2.4rem);
}

h5,
.h5 {
  @include font-size(2rem);
}

h6,
.h6 {
  @include font-size(1.8rem);
}

abbr[title] {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  @include font-size(2rem);
}

.floating-box {
  z-index: 5;
  border: 1px solid #eeeded;
  padding: 30px;
  border-radius: 3px;

  &.without-border {
    border: none;
  }
}

.box-shadow {
  border-radius: 3px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);

  &.box-shadow--top {
    box-shadow: 2px -4px 8px rgba(0, 0, 0, 0.04);
  }
}

input {
  &[type='checkbox'] {
    position: relative;
    top: -2px;
    margin-right: 8px;
  }

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

.page-title {
  @include font-size(2.8rem);

  font-weight: 900;
  color: $text-color;
  margin-bottom: 10px;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

label {
  @include font-size(1.6rem);

  color: $c-subtext;
  margin-bottom: 5px;
}

.footer {
  background: $white;

  .footer-text {
    @include font-size(1.5rem);
  }
}
