body{
  color: #3f474e;
}


h1,
.h1 {
  font-size: 3.8rem;
}
h2,
.h2 {
  font-size: 2.8rem;
}
h3,
.h3 {
  font-size: 1.8rem;
}
h4,
.h4 {
  font-size: 2.4rem;
}
h5,
.h5 {
  font-size: 2.0rem;
}
h6,
.h6 {
  font-size: 1.8rem;
}


a, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

abbr[title]{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p{
  font-size: 1.25rem;
}

.page-title{
  font-size: 1.8rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form-wrap__center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}