.form-wrap__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 30px;

  .field-label {
    &.required {
      &::after {
        content: '*';
      }
    }
  }

  .error,
  .help-block {
    color: $c-danger;
    font-weight: 400;

    @include font-size(1.5rem);

    background: $c-danger-light;
    display: block;
    border-radius: 0 0 3px 3px;
    padding: 1px 15px;
  }
}

.form-control {
  box-shadow: none !important;
  font-weight: 400;
  border: 1px solid $c-grey-100;
  background: $c-bg-100;
  padding: 6px 10px;
  border-radius: 5px !important;
  transition: all 150ms ease;
  height: calc(1.8em + 0.75rem + 4px);

  @include font-size(1.6rem);

  color: $text-color;

  &:focus {
    border-color: $c-primary;
    background: $white;
  }

  &.disabled {
    opacity: 0.6;
    color: $c-grey-700;
    pointer-events: none;
  }
}

.bootstrap-center-form-medium {
  padding: 30px;
  border: 1px solid $c-grey-100;
  margin: 0 auto;
  background: $white;
  border-radius: 5px;

  @media #{$phone} {
    padding: 50px 20px;
  }

  h1 {
    @include font-size(2.2rem);

    color: $c-text;
    font-weight: 500;
  }
}

.field-description {
  color: $c-text;

  @include font-size(1.8rem);
}
