

.navbar-expand-lg {
    .navbar-nav {
        .nav-item{
            .nav-link{
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
        .dropdown-menu {
            a.dropdown-item{
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
}


