


$phone: 'screen and (max-width: 767px)'; // Only phone
$tablet: 'screen and (max-width: 991px)'; // Phone and tablet
$laptop-only: 'screen and (min-width: 992px) and (max-width: 1200px)'; // Only laptop
$laptop: 'screen and (min-width: 992px)'; // Laptop and desktop
$desktop: 'screen and (min-width: 1200px)'; // Only desktop