<table class="table table-striped">

  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Last signed in</th>
      <th></th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.last_sign_in_at %>
      </td>
    </tr>
  <% end %>

</table>
