!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
    :css
      body {
          font-family: sans-serif;
          font-size: 14px;
      }

      a, a:link {
          color: #4c6d8b;
      }

      a:hover {
          text-decoration: none;
      }

      .facebook table td {
          background: #3b5998;
          border-color: #2d4473;
      }

      .facebook:hover table td {
          background: #2d4473 !important;
      }

      .twitter table td {
          background: #00acee;
          border-color: #0087bb;
      }

      .twitter:hover table td {
          background: #0087bb !important;
      }

      .google-plus table td {
          background-color: #DB4A39;
          border-color: #CC0000;
      }

      .google-plus:hover table td {
          background: #CC0000 !important;
      }

      .template-label {
          color: #ffffff;
          font-weight: bold;
          font-size: 11px;
      }

      .callout .wrapper {
          padding-bottom: 20px;
      }

      .callout .panel {
          background: #ECF8FF;
          border-color: #b9e5ff;
      }

      .header {
          background: #333333;
      }

      .footer .wrapper {
          background: #ebebeb;
      }

      .footer h5 {
          padding-bottom: 10px;
      }

      table.columns .text-pad {
          padding-left: 10px;
          padding-right: 10px;
      }

      table.columns .left-text-pad {
          padding-left: 10px;
      }

      table.columns .right-text-pad {
          padding-right: 10px;
      }

      hr {
          border-bottom: none;
          border-left: 0;
          border-right: none;
          border-top: 1px dotted #999;
      }

      h1, .h1 {
          line-height: 150%;
      }

      @media only screen and (max-width: 600px) {

          table[class="body"] .right-text-pad {
              padding-left: 10px !important;
          }

          table[class="body"] .left-text-pad {
              padding-right: 10px !important;
          }
      }

      .activity_list {
          list-style: none;
          margin-left: 0;
          padding-left: 0;
      }

      .activity_list li {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 24px;
      }

      .detailed_list {
          padding-left: 55px;
          margin-bottom: 10px;
      }

      .detailed_list li {
          font-size: 14px;
          color: #333;
          line-height: 20px;
          margin-bottom: 4px;
      }

      .date {
          font-size: 13px;
          font-weight: 700;
      }

      .time_heading {
          font-size: 14px;
          font-weight: 700;
          display: block;
          height: 20px;
          position: relative;
          text-align: center;
          margin: 30px 0 10px;
          padding-top: 20px;
          border-top: 1px dotted #dedede;
      }

      .time {
          padding: 0 5px;
          position: relative;
          z-index: 1;
      }
  %body{style: "font-size: 16px !important; line-height: 26px !important;"}
    %table.body{style: "width: 100% !important;"}
      %tr
        %td.center{align: "center", valign: "top"}
          %center
            %table.row.header{style: "background: #000000 !important; width: 100% !important;"}
              %tr
                %td.center{align: "center"}
                  %center
                    %table.container
                      %tr
                        %td.wrapper.last
                          %table.twelve.columns
                            %tr
                              %td.six.sub-columns
                              %td.six.sub-columns.last
                                %span.template-label &nbsp;
            %table.container
              %tr
                %td
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td
                              = yield
                            %td.expander
